## .NET
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
TestResult.xml
*.[Cc]ache
![Ss]tyle[Cc]op.Cache

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!packages/repositories.config
*.ncrunchproject
*.ncrunchsolution

## dotnet publish
[Pp]ublish/
publish/

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
